<div>

<h1>Stores</h1>
<%
  # TODO: (Bonus Task) Implement complete store functionality
  # - Display all online stores here
  # - When clicked, go to stores#show page
  # - Add a link to create store
  # - Display store rating (based on the ratings from purchase reviews)
%>

<ul>
<% @stores.each do |store| %>
  <li><%= link_to store.name, store_url(store) %></li>
<% end %>
</ul>

<br />
<%= link_to 'Add store', new_store_url %>

</div>