<div>

<h1>Stores</h1>

TODO

<%
  # TODO: (Bonus Task) Implement complete store functionality
  # - Display all online stores here
  # - When clicked, go to stores#show page
  # - Add a link to create store
  # - Display store rating (based on the ratings from purchase reviews)
%>

</div>