<div>
  <%= link_to 'Back', previous_page_helper() %>
  <h1>Products</h1>
  <% puts session[:my_previous_url] %>
  <% puts "THIS IS BACK" %>
  <% puts @back_url %>
  <ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, 'product_url(product)' %></li>
  <% end %>
  </ul>

  <br />
  <%= link_to 'Add Product', new_product_url %>
</div>